<!DOCTYPE html>

<head>
    <title>My Reviews</title>
    <link rel="stylesheet" href="styles/userReviews.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:wght@500">
</head>

<body>
    <div id="home-logout-register-div">
            <button type="submit" id="homeButton">&#8962;</button>
            <button type="submit" class="logout-register-btn" id="registerButton">Register</button>
            <button type="submit" class="logout-register-btn" id="logOutButton">Log Out</button>
    </div>
    <h1>{{header}}</h1>
    {{#if empty}}
        <p>You have not made any reviews yet</p>
    {{/if}}

    {{#each reviews}}
        <div class="reviewDiv">
            <div class="buttonDiv">
                <button type="submit" class="mealButton" id={{this.meal}}Button">{{this.meal}}</button>
            </div>
            <p id="review"><b>On {{this.meal}}:</b> {{this.review}}</p>
            
        </div>
    {{/each}}
    
    <script src="js/handlers/userReviewsHandlers.js"></script>
    <script src="js/handlers/generalHandlers.js"></script>
    <script src="js/likedRecipes.js"></script>
</body>